


body {
    font-family: "Open Sans";
    margin: 0;
}

/*nav*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vw 10vw;
}

.nav-logo {
    width: 40vw;
    max-width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-cta {
    border: hsl(322, 100%, 66%) solid 1px;
    
    border-radius: 32px;
    padding: 8px 28px;
    box-shadow: hsl(322, 100%, 66%) 0px 0px 2px;
}

.nav-cta:hover {
    border-color: hsl(321, 100%, 78%);
    box-shadow: hsl(322, 28%, 42%) 0px 0px 4px;
}

a {
    text-decoration: none;
    font-size: 1rem;
}

.nav-cta a {
    color: hsl(322, 100%, 66%);
}

/*hero-section*/

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6rem 0 2rem 0;
}

h1 {
    font-size: calc(1.5rem + 0.8vw);
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: hsl(192, 100%, 9%);
    text-shadow: 0 0 0.2em hsl(0, 0%, 90%);
    margin-inline: 10vw;
}

.hero-text {
    text-align: center;
    width: calc(30ch + 15vw);
    font-size: calc(0.8rem + 0.4vw);
    color: hsl(192, 100%, 9%);
    text-shadow: white 0 0 5px;
    text-shadow: 0 0 0.2em white;
    margin: 30px 30vw;
}

.cta-button{
    text-wrap: nowrap;
    background-color: hsl(322, 100%, 66%);
    border-radius: 5vh;
    padding: 20px 10vw;
    margin: 5vh;
    box-shadow: 1px 1px 0.2em hsl(0, 0%, 40%);
}

.cta-button:hover {
    background-color: hsl(321, 100%, 78%);
}

.cta-button a {
    color: white;
    font-weight: bold;
}

/*system-img*/

.mockups {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(2rem + 5vw);
}

.system-img {
    width: 80vw;
    max-width: 1035px;
    max-height: 739px;
}

/*data*/

.content-data {
    display: flex;
    justify-content: center;
    align-items: center;
}

.data-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10vw;
    width: 60vw;
    max-width: 800px;
}

.data {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.data h2 {
    font-family: "Poppins", sans-serif;
    font-size: 5rem;
    margin: 0;
    color: hsl(192, 100%, 9%);
}

.data p {
    text-align: center;
    margin: 0;
    color: hsl(192, 100%, 9%);
    font-size: 1.2rem;
}

.features-content {
    display: flex;
    flex-direction: column;
}

.features {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-inline: 10vw;
}

.features .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text h1 {
    text-align: left;
    margin: 0;
}

.text p {
    width: calc(35ch + 10vw);
}

.grow-together {
    background-color: hsl(207, 100%, 98%);
}

.flowing-conversations {

}

.your-users {
    background-color: hsl(207, 100%, 98%);
}

.grow-together .img, .your-users .img {
    order: 2;
}

.img img {
    width: 35vw;
}

.bg-top{
    margin-bottom: -7px;
}

.bg img {
    width: 100%;
}

@media (max-width: 1024px){
    .text h1, .text p {
        text-align: center;
    }

    .text p {
        width: 35ch;
    }

    .features {
        flex-direction: column;
        gap: 5vh;
        padding: 5vh;
    }

    .grow-together .img, .your-users .img {
        order: 0;
    }

    .features .img, .features .text {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img img {
        width: 60vw;
    }
}

/* main-cta */

.call-to-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15vh 5vw;
}

/* footer */

footer {
    background-color: hsl(192, 100%, 9%);
    color: white;
}

footer p {
    margin: 0;
    padding: 20px;
}

.more-info {
    padding: 100px 10vw 30px 10vh;
    display: flex;
    justify-content: space-between;
}

.img svg {
    fill: white;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40ch;
}

.newsletter p, .contact p {
    padding: 20px 0;
    width: 42ch;
}

.newsletter h2 {
    font-size: 2rem;
    margin: 0;
}

.subscribe {
    display: flex;
    gap: 20px;
}

.subscribe-btn {
    text-wrap: nowrap;
    background-color: hsl(322, 100%, 66%);
    border-radius: 5px;
    padding: 10px 30px;
    width: 80px;
}

.subscribe-btn:hover {
    background-color: hsl(321, 100%, 78%);
}

.subscribe input {
    width: 50vh;
    height: 2rem;
    padding: 5px;
    border-radius: 5px;
}

.email, .phone {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social svg{
    width: 25px;
}

.social {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

@media (max-width: 1024px){
    .more-info{
        flex-direction: column;
    }

    .contact{
        order: 2;
        margin-top: 80px;
    }

    .newsletter p, .contact p {
        width: 80vw;
    }

    .subscribe {
        flex-direction: column;
        align-items: end;
    }

    .subscribe input {
        width: 100%;
        padding: 5px 0;
    }
}